<!DOCTYPE html>
<html lang="en">

<head>
  {% include assets.html %}

  <title>{{ page.title }}</title>

  <script>
  	$(function() {
  		anchors.options.visible = 'always';
  		anchors.add('.tutorial > h1, h2, h3, h4, h5, h6');
  	});
  </script>
</head>

<body>
  {% include navbar.html %}

  <header id="head" class="secondary"></header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/tutorials/first-steps-1.html">{{ page.title }}</a></li>
      <li class="active">{{ page.section }}</li>
    </ol>

    <div class="row">

      <aside class="col-md-4 sidebar sidebar-left">
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/documentation">Overview</a></h4>
            <ul>
              <li><a href="/documentation/#topology-probes-supported">Topology probes</a></li>
              <li><a href="/documentation/#flow-probes-supported">Flow probes</a></li>
              <li><a href="/documentation/#architecture">Architecture</a></li>
            </ul>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/documentation/getting-started">Getting started</a></h4>
            <ul>
              <li><a href="/documentation/getting-started#downloading-binary">Downloading binary</a></li>
              <li><a href="/documentation/getting-started#vagrant-deployment">Vagrant deployment</a></li>
              <li><a href="/documentation/getting-started#docker">Docker</a></li>
              <li><a href="/documentation/getting-started#docker-compose">Docker compose</a></li>
              <li><a href="/documentation/getting-started#kubernetes">Kubernetes</a></li>
              <li><a href="/documentation/getting-started#configuration">Configuration</a></li>
              <li><a href="/documentation/getting-started#client--webui">Client & WebUI</a></li>
            </ul>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/documentation/build">How to build</a></h4>
            <ul>
              <li><a href="/documentation/build#dependencies">Dependencies</a></li>
              <li><a href="/documentation/build#installation">Installation</a></li>
              <li><a href="/documentation/build#development-box">Development box</a></li>
            </ul>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/documentation/api">Command line interface</a></h4>
            <ul>
              <li><a href="/documentation/api#topology-requests">Topology requests</a></li>
              <li><a href="/documentation/api#flow-requests">Flow requests</a></li>
              <li><a href="/documentation/api#flow-capture">Flow capture</a></li>
              <li><a href="/documentation/api#packet-injector">Packet injector</a></li>
              <li><a href="/documentation/api#alerting">Alerting</a></li>
            </ul>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/documentation/api-rest">API</a></h4>
            <ul>
              <li><a href="/documentation/api-rest#topologyflow-request">Topology requests</a></li>
              <li><a href="/documentation/api-rest#capture">Flow capture</a></li>
            </ul>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/documentation/api-gremlin">Gremlin language</a></h4>
            <ul>
              <li><a href="/documentation/api-gremlin#traversal-steps">Traversal steps</a></li>
              <li><a href="/documentation/api-gremlin#predicates">Predicates</a></li>
            </ul>
          </div>
        </div>
      </aside>

      <!-- Article main content -->
      <article class="col-md-8 maincontent">
        <header class="page-header">
          <h1 class="page-title">{{ page.section }}</h1>
        </header>
        <div class="tutorial">
          {{ content }}
        </div>
      </article>

    </div>
  </div>

  {% include footer.html %}

</body>

</html>
