<!DOCTYPE html>
<html lang="en">

<head>
  {% include assets.html %}

  <title>{{ page.title }}</title>

  <script>
  	$(function() {
  		anchors.options.visible = 'always';
  		anchors.add('.tutorial > h1, h2, h3, h4, h5, h6');
  	});
  </script>
</head>

<body>
  {% include navbar.html %}

  <header id="head" class="secondary"></header>

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/tutorials/first-steps-1.html">{{ page.title }}</a></li>
      <li class="active">{{ page.section }}</li>
    </ol>

    <div class="row">

      <!-- Article main content -->
      <article class="col-md-8 maincontent">
        <header class="page-header">
          <h1 class="page-title">{{ page.section }}</h1>
        </header>
        <div class="tutorial">
          {{ content }}
        </div>
      </article>

      <aside class="col-md-4 sidebar sidebar-right">
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-1.html">1. Getting started</a></h4>
            <p>For this first article we will see how it is easy to start Skydive and how to explore the topology thanks to the WebUI and the command line.</p>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-2.html">2. Traffic capture</a></h4>
            <p>For this second part we will introduce the traffic capture capabilities of Skydive.</p>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-3.html">3. Traffic capture, multiple interfaces</a></h4>
            <p>In this third part will see how to create a capture matching multiple interfaces and how to follow a flow along a path.</p>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-4.html">4. Packet injector</a></h4>
            <p>This part will be an introduction of the Packet Generator/Injector feature that Skydive provide.</p>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-5.html">5. Multi-node and tunneling</a></h4>
            <p>In this part we will use a multi-nodes deployment and we will see how Skydive analyze an encapsulated traffic.</p>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-6.html">6. API/CLI tour</a></h4>
            <p>In this part will be an introduction the API and the Skydive client. We see how to do topology request, capture, packet injection.</p>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-7.html">7. Advanced capture options</a></h4>
            <p>Until now we saw how to create simple capture using etheir the WebUI or the command line. This part will be a tour of the "advanced" capture options.</p>
          </div>
        </div>
        <div class="row widget">
          <div class="col-xs-12">
            <h4><a href="/tutorials/first-steps-8.html">8. Skydive as Grafana datasource</a></h4>
            <p>In this tutorial we will see how to leverage this with `Grafana` in order to graph metrics such as `sFlow`, `OpenvSwitch`, RTT metrics.</p>
          </div>
        </div>
      </aside>

    </div>
  </div>

  {% include footer.html %}

</body>

</html>
