<!DOCTYPE html>
<html lang="en">

<head>
	{% include assets.html %}

	<title>Skydive - Real-time network analyzer</title>
</head>

<body class="home">
	<a href="https://github.com/skydive-project/skydive"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 99999" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>	{% include navbar.html %}

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead"><strong>SKYDIVE</strong></h1>
				<p class="tagline">Real-time network analyzer</p>
				<p>
					<a href="/tutorials/first-steps-1.html" class="btn btn-default btn-lg" role="button">GUIDE</a>
					<a href="/documentation/getting-started" class="btn btn-action btn-lg" role="button">TEST NOW</a>
				</p>
			</div>
		</div>
	</header>

	<a id="about"></a>
	<div class="container text-center">
		<br><br>
		<h2 class="thin">What is Skydive</h2>
		<p class="text-muted">
			Skydive is an open source real-time network topology and protocols analyzer providing a comprehensive way of understanding what is happening in your network infrastructure.
		</p>
		<p>
			<br><img src="https://github.com/skydive-project/skydive.network/raw/images/overview.gif" />
		</p>
	</div>

	<div class="jumbotron top-space">
		<div class="container">
			<h3 class="text-center thin">Features</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-sitemap fa-5"></i>Topology capture</h4></div>
					<div class="h-body text-center">
						<p>Captures network topology, interface, bridge, namespace attributes and keeps the history of all the modifications.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-bar-chart-o fa-5"></i>Flow capture</h4></div>
					<div class="h-body text-center">
						<p>Distributed probe, L2-L4 classifier, GRE, VXLAN, GENEVE, MPLS/GRE, MPLS/UDP tunneling support. Ability to follow a flow along a path in the topology.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-gears fa-5"></i>Extendable</h4></div>
					<div class="h-body text-center">
						<p>Support for external SDN Controllers or container based infrastructure, OpenStack, OpenContrail, Docker. Supports extensions throught API.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-cloud fa-5"></i>Distributed</h4></div>
					<div class="h-body text-center">
						<p>Distributed, scalable, easy to deploy, only one static binary.</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<h2 class="text-center top-space">Common use cases</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Troubleshooting</h3>
				<p>
					With Skydive you can see how your SDN implements the virtual network even in nested environment like containers running on top of an OpenStack deployment. You can control and set alerts according to what is expected. Skydive keeps track of each modifications
					allowing to troubleshoot past events.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Monitoring</h3>
				<p>
					Skydive captures all the interface metrics and store them in a time series database. You can also start traffic capture allowing you to monitor metrics for specific protocols or according to topology informations. All the metrics are available through
					the API and a Grafana plugin is also available.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3>SDN/Cloud infrastructure Continous integration</h3>
				<p>
					Skydive can be used in a continous integration/delivery process in order to validate network deployment or workload.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>And much more</h3>
				<p>
					Capacity planning, abnormal traffic detection, unexpected performances...
				</p>
			</div>
		</div>

	</div>

	<div class="container">
		<h2 class="text-center top-space">Recent articles about Skydive</h2>
		<br>

		<div class="row">
			<div class="col-sm-12">
				<h3><a href="https://www.youtube.com/watch?v=jl2_jUKspJA">
					Kubernetes configuration roll-out using Skydive
				</a></h3>
				<p>
In this demo we show how Skydive can help roll-out configuration changes across your Kubernetes landscape, helping in visualizing which pods are dependent on the configuration object and going beyond that by automatic the restarting of all dependent pods automatically by utilizing Skydive REST API.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><a href="https://www.youtube.com/watch?v=Dwrk03ibces">
					Debugging Kubernetes cascading storage failures with Skydive
				</a></h3>
				<p>
					Skydive is a powerful network topology and protocol analyzer. In this demo we use skydive to debug a storage related failure.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><a href="https://www.youtube.com/watch?v=DOQvtIR6c_A">Troubleshooting Kubernetes applications with Skydive</a></h3>
				<p>
					Skydive is a real-time topology and protocol analyzer, with it's Kubernetes plugin it can now be used to debug k8s applications. In this video we demonstrate how it can be used to identify issues within the bookinfo sample application.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><a href="https://medium.com/@eran.raichstein/skydive-uncovers-microservices-networking-the-basics-a8aa7307d03c">Skydive uncovers microservices networking - by Eran Raichstein</a></h3>
				<p>
					This post demonstrates the Skydive network’s exploration capabilities for IBM Cloud Private over a reference cloud-native microservices application.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><a href="https://blogs.rdoproject.org/7991/dpdk-flow-probe-with-skydive">DPDK flow probe with Skydive - by Nicolas Planel</a></h3>
				<p>
					Skydive is “an open source real-time network topology and protocols analyzer”. It is a tool (with CLI and web interface) to help analyze and debug your network (OpenStack, OpenShift, containers, …). The Data Plane Development Kit (DPDK) is a set of data
					plane libraries and network interface controller drivers for fast packet processing. As Skydive uses flow probes to analyze packets, thanks to gopacket. As the bandwidth used by Software Defined Networks increases, we need a solution to capture and
					analyze packets at high speed from switch port mirroring.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><a href="http://blog.cafarelli.fr/2017/02/tracking-service-function-chaining-with-skydive/">Tracking Service Function Chaining with Skydive - by Bernard Cafarelli</a></h3>
				<p>
					Skydive is “an open source real-time network topology and protocols analyzer”. It is a tool (with CLI and web interface) to help analyze and debug your network (OpenStack, OpenShift, containers, …). Dropped packets somewhere? MTU issues? Routing problems?
					These are some issues where running skydive whill help. So as an update on my previous demo post (this time based on the Newton release), let’s see how we can trace SFC with this analyzer...
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><a href="https://dev.cloudwatt.com/en/blog/functionnal-sdn-testing.html">Functionnal SDN testing - by Jean Philippe Braun</a></h3>
				<p>
					SDN products are evolving fast. The release cycles can be short and more and more features are added in each cycle. This is clearly a change that network administrators weren’t used to with hardware solutions. In this context the operational team in charge
					of the SDN functionnality of the platform must be confident when deploying new releases. For that matter the team must be able to test new builds for ISO functionality with the previous build, and detect possible regressions...
				</p>
			</div>
		</div>

	</div>

	{% include footer.html %}

</body>

</html>
